                            #Acceder {
                                width: 150px;
                                height: 38px;
                                border-radius: 5px;
                                background-color: #B8CD00;
                                border-color: #B8CD00;
                                position: relative;
                                right: 10px;
                                top: 150px;
                                

                            }
                            /*Diseño de los inputs junto a los iconos*/
                            
                            .inner-addon {
                                position: relative;
                                font-family: sans-serif;
                            }
                            
                            .inner-addon .fas {
                                position: relative;
                                top: 150px;
                                right: 220px;
                            }
                            
                            .left-addon input {
                                padding-left: 30px;
                                border-top: 0ch;
                                border-left: 0ch;
                                border-right: 0ch;
                                border-color: #B8CD00;
                                position: relative;
                                top: 150px;
                            }
                            
                            .inner-addon img {
                                position: relative;
                                top: 100px;
                            }
                            
                            /* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
                            
                            a.navbar-brand {
                                white-space: normal;
                                text-align: center;
                                word-break: break-all;
                            }
                            /* Provide sufficient contrast against white background */
                            
                            a {
                                color: #0366d6;
                            }
                            
                            .btn-primary {
                                color: #fff;
                                background-color: #1b6ec2;
                                border-color: #1861ac;
                            }
                            
                            .nav-pills .nav-link.active,
                            .nav-pills .show>.nav-link {
                                color: #fff;
                                background-color: #1b6ec2;
                                border-color: #1861ac;
                            }
                            /* Sticky footer styles
-------------------------------------------------- */
                            
                            html {
                                font-size: 14px;
                            }
                            
                            @media (min-width: 768px) {
                                html {
                                    font-size: 16px;
                                }
                            }
                            
                            .border-top {
                                border-top: 1px solid #e5e5e5;
                            }
                            
                            .border-bottom {
                                border-bottom: 1px solid #e5e5e5;
                            }
                            
                            .box-shadow {
                                box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
                            }
                            
                            button.accept-policy {
                                font-size: 1rem;
                                line-height: inherit;
                            }
                            /* Sticky footer styles
-------------------------------------------------- */
                            
                            html {
                                position: relative;
                                min-height: 100%;
                            }
                            
                            body {
                                /* Margin bottom by footer height */
                                margin-bottom: 60px;
                            }
                            
                            .footer {
                                position: absolute;
                                bottom: 0;
                                width: 100%;
                                white-space: nowrap;
                                line-height: 60px;
                                /* Vertically center the text there */
                            }
                            
                            fieldset.scheduler-border {
                                border: 1px groove #ddd !important;
                                padding: 0 1.4em 1.4em 1.4em !important;
                                margin: 0 0 1.5em 0 !important;
                                -webkit-box-shadow: 0px 0px 0px 0px #000;
                                box-shadow: 0px 0px 0px 0px #000;
                            }
                            
                            .midiv {
                                position: relative;
                                left: 210px;
                                width: 120px;
                            }
                            
                            .fa-lg {
                                color: #6A6A68;
                            }
                            
                            .inicio {
                                position: relative;
                                top: 150px;
                            }
                            /*------------------- CSS DE MODAL ------------------*/
                            
                            .modal-title {
                                position: relative;
                                left: 80px;
                            }
                            
                            .modal-body {
                                height: 250px;
                                position: relative;
                                top: 20px;
                            }
                            
                            .innermodal input {
                                border-top: 0ch;
                                border-left: 0ch;
                                border-right: 0ch;
                                border-color: white;
                                position: relative;
                                top: 6px;
                            }
                            
                            .innermodal input:readonly {
                                background-color: white;
                            }
                            /*----------------CSS DE NABVAR-----------------*/
                            
                            @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
                            @import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
                            .fa-2x {
                                font-size: 2em;
                            }
                            
                            #iconos-menu {
                                position: relative;
                                display: table-cell;
                                width: 60px;
                                height: 36px;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 20px;
                            }
                            
                            #iconos-menu2 {
                                position: relative;
                                display: table-cell;
                                width: 55px;
                                height: 45px;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 20px;
                            }
                            
                            .main-menu:hover,
                            nav.main-menu.expanded {
                                width: 250px;
                                overflow: visible;
                            }
                            
                            .main-menu:hover img {
                                position: relative;
                                left: 80px;
                                -webkit-transform: scale(1.4);
                                transform: scale(1.4);
                                overflow: hidden;
                            }
                            
                            .main-menu {
                                background: #7B7E83;
                                border-right: 1px solid #e5e5e5;
                                position: fixed;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                width: 60px;
                                overflow: hidden;
                                -webkit-transition: width .05s linear;
                                transition: width .05s linear;
                                -webkit-transform: translateZ(0) scale(1, 1);
                                z-index: 100;
                            }
                            
                            .main-menu>ul {
                                margin: 7px 0;
                            }
                            
                            .main-menu li {
                                position: relative;
                                display: block;
                                width: 250px;
                            }
                            
                            .main-menu li>a {
                                position: relative;
                                display: table;
                                border-collapse: collapse;
                                border-spacing: 0;
                                color: rgb(255, 255, 255);
                                font-family: arial;
                                font-size: 14px;
                                text-decoration: none;
                                -webkit-transform: translateZ(0) scale(1, 1);
                                -webkit-transition: all .1s linear;
                                transition: all .1s linear;
                            }
                            
                            .main-menu .nav-icon {
                                position: relative;
                                display: table-cell;
                                width: 60px;
                                height: 36px;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 18px;
                            }
                            
                            .main-menu .nav-text {
                                position: relative;
                                display: table-cell;
                                vertical-align: middle;
                                width: 190px;
                                font-family: 'Titillium Web', sans-serif;
                            }
                            
                            .main-menu>ul.logout {
                                position: absolute;
                                left: 0;
                                bottom: 0;
                            }
                            
                            .no-touch .scrollable.hover {
                                overflow-y: hidden;
                            }
                            
                            .no-touch .scrollable.hover:hover {
                                overflow-y: auto;
                                overflow: visible;
                            }
                            
                            a:hover,
                            a:focus {
                                text-decoration: none;
                            }
                            
                            nav {
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                -o-user-select: none;
                                user-select: none;
                            }
                            
                            nav ul,
                            nav li {
                                outline: 0;
                                margin: 0;
                                padding: 0;
                            }
                            
                            .main-menu li:hover>a,
                            nav.main-menu li.active>a,
                            .dropdown-menu>li>a:hover,
                            .dropdown-menu>li>a:focus,
                            .dropdown-menu>.active>a,
                            .dropdown-menu>.active>a:hover,
                            .dropdown-menu>.active>a:focus,
                            .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
                            .dashboard-page nav.dashboard-menu ul li.active a {
                                color: #fff;
                                background-color: #C6362E;
                            }
                            
                            .area {
                                float: left;
                                background: #e2e2e2;
                                width: 100%;
                                height: 100%;
                            }
                            
                            @font-face {
                                font-family: 'Titillium Web';
                                font-style: normal;
                                font-weight: 300;
                                src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
                            }
                            /*---------------------------------------------------------------------------------------------------------------*/
                            
                            table {
                                border-collapse: collapse;
                            }
                            
                            table th {
                                background-color: #7B7E83;
                                color: white;
                                font-family: "Trebuchet MS", sans-serif;
                                font-size: 16px;
                                font-weight: bold;
                                line-height: 1.4em;
                                font-style: normal;
                                border-collapse: collapse;
                            }
                            
                            thead th {
                                padding: 15px;
                                color: #fff;
                                border: 1px solid #7B7E83;
                                border-bottom: 3px solid #7B7E83;
                                background-color: #7B7E83;
                                background: -webkit-gradient( linear, left bottom, left top, color-stop(0.02, #7B7E83), color-stop(0.51, #7B7E83), color-stop(0.87, #7B7E83));
                                background: -moz-linear-gradient( center bottom, #7B7E83 2%, #7B7E83 51%, #7B7E83 87%);
                                -webkit-border-top-left-radius: 5px;
                                -webkit-border-top-right-radius: 5px;
                                -moz-border-radius: 5px 5px 0px 0px;
                                border-top-left-radius: 5px;
                                border-top-right-radius: 5px;
                            }
                            /*Observaciones*/
                            
                            .content {
                                width: 100%;
                            }
                            
                            .left {
                                padding-left: 10px;
                                padding-top: 10px;
                                margin-left: 200px;
                                float: left;
                                position: relative;
                                width: 45%;
                                height: auto;
                            }
                            
                            .right {
                                padding-top: 10px;
                                padding-left: 10px;
                                margin-left: 200px;
                                width: 45%;
                                height: auto;
                            }
                            
                            .right textarea {
                                width: 18vw;
                            }
                            
                            .buscar {
                                padding-left: 50vw;
                                padding-top: 12px;
                                margin-left: 200px;
                                position: relative;
                                height: auto;
                            }
                            
                            .leftboton {
                                padding-left: 2px;
                                padding-top: 2px;
                                margin-left: 5px;
                                float: left;
                                position: relative;
                                color: #B8CD00;
                                width: 22vw;
                                height: auto;
                            }

                            .fa-plus-square
                            {
                                color: #B8CD00;
                            } 

/***********************************INICIO*************************************/
.Inicio {position: relative; top: 80px;}
.DivPagos { display: inline-block; width: 20%; background-color: #F2F2F2;  float: left; text-align: center; height: 435px }
.DivArriba { display: inline-block; height: 217px; width: 80%; text-align: center; }
.DivApartamentos { display: inline-block; height: 217px; background-color: #B8CD00; width: 50%;   float: left; text-align: center;padding: 107px 0px; }
.DivPropietarios { display: inline-block; height: 217px; background-color: white; width: 50%;margin: 0px 0px -30px 0px;text-align: center; }
.DivAbajo { display: inline-block; width: 80%;  text-align: center; }
.DivInformes { display: inline-block; height: 217px; background-color: #F2F2F2; width: 40%;  text-align: center;float: left;padding: 107px 0px; }
.DivResidentes { display: inline-block; height: 217px; background-color: #B8CD00; width: 40%;  text-align: center;float: left;  padding: 107px 0px; }
.DivCerrarSesion { display: inline-block; height: 217px; background-color:white; width: 20%;  text-align: center;margin: 0px 0px -30px 0px; padding: 107px 0px; }

.ImgPagos{
    width: 100%;
    position: relative;
    top: 9.125vw;
}
.h1Pagos{
    color: #B8CD00;
    font-family: sans-serif;
    position: relative;
    top: 6vw;
    font-weight: 700;
}
.ImgApartamentos{
    width: 40%;
    position: relative;
    top: -160px;
    left: 12vw;
}
.h1Apartamentos{
    color: white;
    position: relative;
    font-family: sans-serif;
    right: 6.5vw;
    top: -1vw;
    font-weight: 700;
}
.ImgPropietarios{
    width: 20%;
    position: relative;
    top: 10px;
    right: 13vw;
}
.h1Propietarios{
    color: #B8CD00;
    position: absolute;
    right:3vw;
    top: 7vw;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 45px;
}

.ImgInformes{
    width: 350px;
    height: 150px;
    position: relative;
    top: -50px;
    right: -1.5vw;
}
.h1Informes{
    color: #B8CD00;
    position: absolute;
    top: 17vw;
    left:26vw;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 45px;
}

.ImgResidentes{
    width: 20%;
    position: relative;
    top: -90px;
    right: -10.5vw;
}
.h1Residentes{
    color: white;
    position: absolute;
    top: 25vw;
    right:23vw;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 45px;
}

.ImgCerrarSesion{
    width: 50%;
    position: relative;
    top: -40px;
    right: -0.5vw;
    color: gray;
}
.h1CerrarSesion{
    color: #B8CD00;
    position: absolute;
    top: 18vw;
    right:1.5vw;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
}
